/* fonts */

/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v8/DbmoEiLFv2l2THgnoltNxn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v8/Ja-W2r1mUFvMx9Mn05mLi3-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v8/6TbRXKWJjpj6V2v_WyRbMevvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* end fonts */

body {
  font: 100% sans-serif;
  font-family: 'Nunito', sans-serif;
}

.banner {
  position: absolute;
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  padding: 20px;
  left: 50%;
  top: 90%;
  width: 100%;
  bottom: -10%;
  text-align: center;
  background: rgba(33,33,33,0.7);
  transform: translate(-50%,-50%);
}

.logo-container {
    margin-bottom: 40px
}

.about-container, .bios-container, .showtimes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.bio-box-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
}

.bio-box {
  width: 33.3333%;
  height: 300px;
  position: relative;
}

.bios-container {
  height: 80vh;
  font-size: 22px
}

.about-container, .tease-container, .tease-bio-container {
    color: white;
    padding: 50px 0px;
}

.about-container {
    background: #FF4F4C;
}

.tease-container {
    background: #00D18E;
}

.bio-box {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.bio-box img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.nebraska {
  margin-top: 270px;
}

.toni {
  margin-top: 170px;
}

.felicity {
  margin-bottom: 100px
}

.derrick {
  margin-top: 190px
}

.hero-img-container {
    height: 450px;
    background: linear-gradient(to right, rgba(255,255,255,0.3), rgba(255,255,255,0.3)),url("./assets/images/ballys.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.bios-container {
    background: linear-gradient(to bottom right,rgba(0,0,0,0.4)),url('./assets/images/indigo_lounge2.jpg');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: cover;
}

.showtimes-container {
    background: linear-gradient(to bottom right,rgba(0,0,0,0.6)),url('./assets/images/ballroom-bg.jpg');
    background-position: 50% 50%;
    background-size: cover;
    color: white;
}

.showtimes-time-container {
    padding: 50px 100px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 24px;
    background: rgba(0,0,0,0.6);
}

.showtimes-title {
    font-size: 3rem;
    font-weight: 900;
    margin: 50px auto;
}

.about-text, .tease-container {
    font-size: 2.5rem;
    padding: 95px;
    text-align: center;
}

.tease-bio-container {
    font-size: 2.5rem;
    text-align: center;
    background: #F0C7DE
}

.showtimes-button-container {
  margin: 50px auto;
  text-align: center;
  margin-bottom: 150px;
}

.showtimes-button-container a, .showtimes-button-container button {
  cursor: pointer
}

.showtimes-button-container button {
  border-style: none;
  padding: 15px 45px;
  background: #FDC015;
  color: #fff;
  border-radius: 5px;
  transition: 0.25s all ease;
  width: 70%;
  font-size: 1.2em;
  font-weight: 600;
}
.showtimes-button-container button:hover {
  background: #FCDA4E;
}

.showtime {
    margin-bottom: 4px
}

.divide {
  width: 25%;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.opener {
    color: #FEE157
}

.App,h1,h2,h3,div,a,p {
  z-index: 1
}


html, body {
  color: white;
  margin: 0px;
  padding: 0px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background: transparent;
  padding: 20px;
  margin: 0 0 20px 0;
  position: absolute;
  justify-content: center;
}

.footer {
  width: 100%;
  margin-top: -60px;
  padding: 20px;
  position: absolute;
  color: #999;
  text-align: center
}

.footer p {
  margin: 0;
  font-size: 13px
}

.header-section {
  text-shadow: 2px 4px 10px rgba(0,0,0,.3);
  background: linear-gradient(to right, rgba(70,0,0,0.3), rgba(10,0,0,0.5)),url('./assets/images/home-background.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh
}

.navbar a, .navbar a:visited, .navbar a:active {
    color: white;
    text-decoration: none
}

 .navbar a:hover {
    color: #FDC015
 }

.navbar > * {
  margin: 0 10px;
}


a {
  padding: 10px;
}

@media (max-width: 1200px) and (min-width: 651px) {
  .bio-box {
    width: 50%
  }
}

@media (max-width: 650px) {

  .tease-bio-container {
    padding: 40px 0px
  }

  .tease-container {
    padding: 60px 0px
  }

  .about-text {
    padding: 20px
  }

  .bio-box {
    width: 100%
  }

  .about-text, .tease-container, .tease-bio-container p {
    font-size: 2rem;
  }

  .showtimes-time-container{
      padding: 50px 0px;
      border: none
  }

  .showtimes-title {
    font-size: 1.7rem;
  }

  .footer p {
    font-size: 11px
  }

  .logo-container img {
    max-width: 275px
  }

  .navbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .no-tiny {
    display: none;
  }
  .logo {
    width: 100%;
    text-align: center
  }

  .hero-img-container {
    height: 275px;
    background-position: 2% 99%;
  }
}
